{% extends 'base.html.twig' %}

{% block title %}Hello ShopController!{% endblock %}

{% block body %}
<h1>Accueil</h1>
{{ dump(references )}}


<section id="home" class="container">
<div class="row">
{% for ref in references %}
<div class="cols-md-3">
  
    <div class="card">
      <img src="{{ref.image}}" class="card-img-top" alt="{{ref.slug}}">
      <div class="card-body">
        <h5 class="card-title">{{ref.title}}</h5>
        <p class="card-text">{{ref.description}}</p>
        <p>{{ref.price.amount}} €</p>
          <a href="{{ path('app_shop_show', {'slug' : ref.slug })}}">voir plus</a> 
      </div>
    </div>
  </div>
  </div>
  </div>
  </section>

{% endfor %}

{% endblock %}
